# Dependências de pacotes (NUNCA enviar ao GitHub)
node_modules/
jspm_packages/
web_modules/

# Pastas de build/produção
build/
dist/
out/

# Arquivos de variáveis de ambiente (contêm senhas e chaves secretas)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs do sistema e do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db